* {
  box-sizing: border-box;
}

*::-webkit-scrollbar {
  display: none;
}

body {
  margin: 0;
  padding: 0;
  background-color: black;
  font-family: Helvetica, Arial, sans-serif;
}

.container {
  width: 100%;
  max-width: 1250px;
  margin: 0 auto;
}

header {
  background-color: transparent;
  position: fixed;
  z-index: 100;
  left:0;
  top: 0;
  width: 100%;
  transition: all ease 600ms;
  padding: 20px;
}

header.black-bg {
  background-color: rgb(20, 20, 20);
}

.navbar {
  display: grid;
  grid-template-columns: 0.15fr 0.7fr 0.15fr;
  justify-content: space-between;
  align-items: center;
}

.netflix-logo {
  max-width: 110px;
}

.nav-main, .nav-right {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.nav-main ul {
  list-style: none;
  display: inline-flex;
  flex-direction: row;
}

.nav-items a {
  text-decoration: none;
  margin-right: 20px;
  color: #e5e5e5;
  opacity: .83;
}

.nav-items.active a{
  color: white;
  opacity: 1;
  font-weight: 500;
}

.nav-right ul {
  list-style: none;
  display: inline-flex;
  flex-direction: row;
  gap: 3px;
}

.nav-right-item {
  margin-right: 22px;
  cursor: pointer;
}

.center{
  padding-top: 10px;
}

.nav-right-item img {
  width: 40px;
}

.nav-right-item img.dropdown {
  height:10px;
  width: 15px;
}

/* Main */
.movie-section{
  margin: 41px 0;
}

.movie-section-heading{
  font-size: 20px;
  font-weight: 700;
  line-height: 1.2;
  color: white;
  cursor: pointer;
  margin-bottom: 10px;
}

img.explore-nudge{
  height: 15px;
}

.explore-nudge{
  color: #54b9c5;
  font-size: 12px;
  display: none;
}

.movie-section-heading:hover .explore-nudge{
  display: inline-block;
}

.movie-row{
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: nowrap;
  overflow-x:auto;
  overflow-y: hidden;
}

.movie-item{
  width: 245px;
  object-fit: contain;
  margin-right: 6px;
  border-radius: 4px;
  position: relative;
}

.move-item img{
  width: inherit;
}

.movie-item .iframe-wrap{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  display: none;
  border: none;
  outline: none;
}

.movie-item:hover .iframe-wrap{
  display: block;
}

.movie-item:hover{
  transform: scale(1.3);
  transition: transform linear 300ms;
}



/*  .language__drop__down {
    background: transparent;
    border: none;
    color: white;
  }
  
  .language__drop__down:focus {
    outline: none;
  }
  
  .language__drop__down option {
    background-color: black;
  }
  
  .dropdown-container {
    border: 1px solid white;
    padding: 0.4rem;
    border-radius: 4px;
    background: rgba(0, 0, 0, 0.4);
  }
  
  .signin-button {
    background-color: #dc030f;
    border: 1px solid #dc030f;
    color: white;
    padding: 0.25rem 0.5rem;
    border-radius: 4px;
  } */




@media (max-width:767px) {
  .nav-main{
    display: none;
  }
}